/* 
==========================
=          GLOBAL        =
==========================
 */
.single-post {
  container: content / inline-size;
}

.section__inner {
  max-width: 1230px;
  margin-inline: auto;
}

@container content (width < 850px) {
  .section__inner, .header__inner {
    padding-inline: .625em;
  }
}

/* 
==========================
=         HEADER         =
==========================
 */
.single-post__header {
  padding-block: 0rem 1.25rem;
  margin-bottom: 1.25rem;
  border-bottom: .0625rem solid var(--gray-light);
}

.single-post__header > .header__inner {
  max-width: 1230px;
  margin-inline: auto;
}

.single-post__breadcrumbs {
  display: flex;
  align-items: center;
  gap: .3125em;
  margin-bottom: .625em;
}

.breadcrumbs__item {
  text-transform: uppercase;
  color: var(--gray-dark);
}

.single-post__title {
  font-size: clamp(2em, 2.5vw, 2.5em);
  font-weight: 700;
  color: #000;
}

.single-post__meta {
  margin-bottom: 0;
  list-style: none;
  display: flex;
  gap: .9375em;
}

.single-post__meta-item {
  display: inline-flex;
  align-items: center;
  gap: .3125rem;
  font-size: .875em;
  margin-bottom: 0;
}

.single-post__meta-item .button.icon {
  margin-bottom: 0;
}

.single-post__author {
  font-weight: 700;
  color: #000;
  text-transform: capitalize;
}

.single-post__share-btns .button.icon:is(.twitter, .email, .pinterest) {
  display: none;
}
/* 
==========================
=     Pocket guide       =
==========================
*/
.pocket-guide {
  margin-block: 2.5rem 1.875rem;
  padding: 2.5rem 1.25rem 1.875rem;
  position: relative;
  border: .0625rem solid var(--primary-medium);
  border-radius: 1rem;
  box-shadow: .25rem .25rem 0 0 var(--primary-medium), 0 .5rem 1.125rem hsl(from var(--gray-light) h s l / .1 );

  .pocket-guide__legend {
    position: absolute;
    top: 0;
    left: 2.5rem;
    transform: translate(0, -50%);
    display: inline-flex;
    align-items: center;
    gap: .625rem;
    padding: .125rem  1.25rem .125rem .125rem;
    background-color: var(--primary-medium);
    border-radius: 2rem;
    color: #fff;
    font-weight: 600;
  }

  .pocket-guide__icon-wrapper {
    padding: .4375rem;
    background-color: #fff;
    border-radius: 50%;
  }

  .pocket-guide__icon {
    width: 1.75rem;
    aspect-ratio: 1;
  }

  .pocket-guide__content {
    ul {
      margin-left: 1.25rem;
    }
  }
}
/* 
==========================
=         CONTENT        =
==========================
*/
.single-post__main {
  padding-block: 0 3em;
  border-bottom: 1px solid var(--gray-lightest);
}

.single-post__body {
  color: #000;
}

.single-post__summary {
  font-size: 1.1em;
  font-weight: 600;
}

#ez-toc-container {
  padding: 0;
  border: none;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
}

#ez-toc-container .ez-toc-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .625rem 1.25rem;
  background-image: linear-gradient(to right, var(--primary-light), var(--primary-medium));
  color: #fff;
}

#ez-toc-container .ez-toc-js-icon-con {
  float: unset;
  left: 0;

  svg {
    fill: #fff !important;
    color: #fff !important;
  }
}

#ez-toc-container nav {
  padding: 1.25rem 1.5rem 0;
}

#ez-toc-container .ez-toc-list {
  padding: .625rem;
  border: .0625rem solid var(--gray-medium);
  background-color: var(--gray-lightest);
}

#ez-toc-container .ez-toc-list > li {
  margin-left: 1.25rem;
  list-style: disc;
  font-size: 1rem;
}

#ez-toc-container .ez-toc-list > li::marker {
  color: var(--gray-darkest);
}

#ez-toc-container a {
  font-size: 1em;
}

#ez-toc-container a:visited {
  color: var(--primary-light);
}
/* 
==========================
=     RECOMMENDATION     =
==========================
*/
.single-post__recommendation {
  padding-block: 3em;
}

.recommendation__title {
  justify-content: center;
}

.recommendation__post-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

.recommendation__post-image {
  display: block;
  margin-bottom: .625em;

  & > img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
  }
}

.recommendation__post-title {
  font-weight: 600;
  color: #000;
}

.recommendation__post-meta {
  display: flex;
  gap: .5em;
  font-size: .875em;
}

.recommendation__post-categories {
  color: #000;
  text-transform: uppercase;
}

@container content (width < 850px) {
  .recommendation__post-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@container content (width < 550px) {
  .recommendation__post-list {
    grid-template-columns: 1fr;
  }
}