/* ==================== */
/* =      Global      = */
/* ==================== */
#content {
  --_content-background-color: #fff;
  --_content-border-radius: .5rem;
  --_content-padding: 1rem;
  --_icon-size: 1.25rem;
  background-color: #EBEDF1;

  .section__inner {
    width: min( calc(100% - 1.25rem), var(--screen-lg));
  }
}

:is(.product-header, .product-gallery, .product-detail, .feedback, .related-products, .product-description) .section__inner {
  background-color: var(--_content-background-color);
  padding: var(--_content-padding);
  border-radius: var(--_content-border-radius);
}

.block__header {
  display: flex;
  align-items: center;

  .block__header-view-all {
    margin-left: auto;
    font-size: .875rem;
    font-weight: 400;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;

    .material-symbols-outlined {
      font-size: 1.125rem;
    }
  }
}

.block__title {
  font-size: 1.125rem;
  margin-bottom: 0;
}
/* ==================== */
/* =      Gallery     = */
/* ==================== */
.product-gallery {
  margin-top: 1rem;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .product-gallery__remain-imgs {
    display: none;
  }

  .product-gallery__total-display {
    position: absolute;
    width: 100%;
    height: 100%;
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    background-color: rgb(from var(--gray-darkest) r g b / .65);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3125rem;
    pointer-events: none;

    span {
      color: #fff;
    }
  }

  @container content (width <=850px) {
    .swiper-slide {
      aspect-ratio: 48/31;
    }

    .carousel-btn {
      --btn-translate-x: 25%;
    }

    .carousel-btn__next {
      --btn-translate-x: -25%;
    }

    .product-gallery__total-display {
      display: none;
    }
  }

  @container content (width > 850px) {
    .swiper-wrapper {
      display: grid;
      grid-template-columns: 40% repeat(3, minmax(0, 1fr));
      gap: .25rem;
    }

    .swiper-slide {
      aspect-ratio: 48/31;

      &:first-child {
        grid-row: 1 / 3;
      }
    }

    .carousel-btn {
      display: none;
    }
  }
}

/* ==================== */
/* =  Product Detail  = */
/* ==================== */
.product-detail {
  margin-top: 1rem;
  
  .section__inner {
    background-color: transparent;
    padding: 0;
    font-size: .875rem;
  }

  .product-detail__review, .product-detail__surrounding, .product-detail__amenities {
    background-color: #fff;
    padding: var(--_content-padding);
    border-radius: var(--_content-border-radius);
  }

  .product-detail__highlight-list, .product-detail__amenities-list {
    list-style: none;
    margin-bottom: 0;
  }

  .product-detail__highlight-list {
    display: flex;
    gap: .625rem;
  }

  .product-detail__highlight-item {
    margin-bottom: 0;
    display: grid;
    grid-template-rows: var(--_icon-size) auto;
    justify-items: center;
    anchor-name: --highlight-anchor;
    anchor-scope: --highlight-anchor;
  }

  .product-detail__highlight-label {
    margin: 0;
    text-align: center;

    .material-symbols-outlined {
      font-size: 1rem;
    }
  }

  .product-detail__highlight-icon {
    width: var(--_icon-size);
    height: var(--_icon-size);
  }

  .product-detail__highlight-tooltip-control {
    display: inline-block;
    height: auto;
    min-height: auto;
    line-height: 1;
    margin: 0;
    padding: 0;
    font-size: 1rem;
  }

  .product-detail__tooltip-description {
    position: absolute;
    width: min(80vw, 15.625rem);
    padding: .625rem;
    margin: 0;
    border: none;
    box-shadow: 0 .25rem .625rem rgb( 0 0 0 / .15 );
    top: anchor(--highlight-anchor bottom);
    left: anchor(--highlight-anchor center);
    transform: translate(-50%, 0);

    p:last-child {
      margin-bottom: 0;
    }
  }

  .product-detail__amenities-list {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    gap: 0 .625rem;
    max-height: calc( var(--_icon-size) * 3 + (.5rem * 2) );
    overflow: hidden;
  }

  .product-detail__amenity-item, .amenities-details__group-item {
    margin-bottom: 0.5rem;
    line-height: 1;

    img {
      display: inline-block;
      width: var(--_icon-size);
      height: var(--_icon-size);
    }
  }

  .product-detail__review-header {
    font-weight: 700;
  }

  .product-detail__review-point {
    background-color: var(--secondary-medium);
    display: inline-block;
    width: fit-content;
    padding: .25rem .5rem;
    margin-bottom: 0;
    border-radius: 1.25rem 0 1.25rem 1.25rem;
    color: #fff;
    font-size: 1.125rem;

    span:last-child {
      opacity: .65;
    }
  }

  .product-detail__feedback-carousel {
    width: 100%;

    .swiper-slide {
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }

    .swiper-pagination {
      position: static;
    }

    .swiper-pagination-bullet {
      --swiper-pagination-color: var(--primary-medium);
      --swiper-pagination-bullet-height: .1875rem;
      --swiper-pagination-bullet-width: 1rem;
      --swiper-pagination-bullet-border-radius: 0;
    }
  }

  .product-detail__review-title {
    color: var(--primary-medium);
    margin-left: .5rem;
    font-size: 1.125rem;
  }

  .product-detail__surrounding {
    :is(ul, ol) {
      margin-left: 1.25rem;
      margin-bottom: 0;
    }

    li {
      margin-bottom: 0;
    }
  }

  .amenities-details {
    --_padding: clamp(.9375rem, 2vw, 1.5rem);
    width: min(80%, 50rem);
    border: none;
    overflow: hidden;
    padding: 0;
    border-radius: 1rem;

    &::backdrop {
      background-color: rgb( 0 0 0 / .65 );
    }

    .amenities-details__header {
      display: flex;
      padding-inline: var(--_padding);
      padding-block: var(--_padding);
      border-bottom: 1px solid var(--gray-light);
    }
    .amenities-details__close {
      padding-inline: 0;
      margin: 0;
      height: auto;
      min-height: auto;
      line-height: 1;

      .material-symbols-outlined {
        transition: transform 300ms;
      }

      &:hover .material-symbols-outlined {
        transform: rotate(90deg);
      }
    }
    .amenities-details__title {
      margin-bottom: 0;
    }
    .amenities-details__main {
      padding: var(--_padding);
      height: 35rem;
      overflow: hidden auto;
    }
    .amenities-details__group-list {
      list-style: none;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(0rem, 12.5rem));
      gap: .625rem;
    }
    .amenities-details__group-item {
      margin-bottom: 0;
    }
  }

  @container content ( width <= 850px ) {
    .product-detail__surrounding, .product-detail__amenities {
      margin-top: 1rem;
    }

    :where(.product-detail__review, .product-detail__surrounding, .product-detail__amenities) .block__header {
      margin-bottom: 1rem;
    }
  }

  @container content (width > 850px) {
    .section__inner {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      grid-template-rows: min-content minmax(0, 1fr);
      gap: .875rem 1rem;
    }
    
    .product-detail__review, .product-detail__surrounding, .product-detail__amenities {
      grid-column: span 1;
      grid-row: 1 / span 2;
      display: grid;
      grid-template-columns: minmax(0, 1fr);
      grid-template-rows: subgrid;
    }
  }
}
/* ==================== */
/* =    Description   = */
/* ==================== */
.product-description {
  margin-top: 1rem;

  .block__title {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  .section__inner {
    display: grid;
    grid-template-rows: min-content 0fr min-content;
    transition: grid-template-rows 500ms;

    &:has(.product-description__toggle[aria-expanded="true"]) {
      grid-template-rows: min-content 1fr min-content;
    }
  }

  .product-description__content {
    overflow: hidden;
    min-height: calc(1rem * 1.5 * 2);
  }

  .product-description__content :is(ul, ol) {
    margin-left: 1.25rem;
  }

  .product-description__content li {
    margin-bottom: 0;
  }

  .product-description__toggle {
    margin-block: 1rem 0;
  }
}
/* ==================== */
/* =     Feedback     = */
/* ==================== */
.feedback {
  margin-block: 1rem 0;

  .comment-form, input[type=submit] {
    margin: 0;
  }

  .comment-form-rating, .comment-form-comment, .form-submit {
    padding-inline: 0;
  }

  .col {
    padding-inline: 0;
  }

  #review_form_wrapper {
    padding-bottom: 0;
  }
}

/* ==================== */
/* = Related Products = */
/* ==================== */
.related-products {
  margin-block: 1rem 3rem;

  .block__title {
    margin-bottom: 1.875rem;
  }

  .related-products__carousel {
    --_slides-per-view: 1;
    --_space-between: 1.25rem;
    position: relative;

    .swiper-slide {
      width: calc((100% - var(--_space-between) * (var(--_slides-per-view) - 1)) / var(--_slides-per-view));
      margin-right: var(--_space-between);
    }
  }

  .product {
    padding: 0;
  }

  @container content (width >=550px) {
    .related-products__carousel {
      --_slides-per-view: 2;
    }
  }

  @container content (width >=850px) {
    .related-products__carousel {
      --_slides-per-view: 4;
    }
  }
}