/* 
=========================
=         HEADER        =
=========================
*/
.header {
  container: header / inline-size;
  box-shadow: rgba(11, 11, 11, 0.1) 0px 2px 24px;
}
.header .nav > li {
  margin-inline: 0;
}
.header .nav > li > a:not(.header__contact) {
  padding: .75rem .875rem;
  line-height: 1;

  &:hover {
    background-color: rgb( 240 241 242 / 1 );
    border-radius: .5rem;
  }
}
.header-main .nav > li > a, .header-main .nav-small.nav > li.html {
  font-size: 1rem;
  color: var(--gray-darkest);
}

.header-main .header-nav.nav-left {
  justify-content: flex-end;
}

.header-bottom {
  padding-block: 0 .5rem;
}

.header-bottom .nav > li > a {
  font-size: .875rem;
  color: var(--gray-dark);
}

.header-main .nav > .html > .header__contact,
.nav-vertical > li > .header__contact {
  margin-left: .625rem;
  display: grid;
  grid-template-columns: 3rem 1fr;
  grid-template-areas: 'icon text' 'icon phone';
  gap: .3125rem .5rem;
}

.off-canvas .nav-vertical>.menu-item {
  border: none;  
}

.off-canvas .nav-vertical>.menu-item>a {
  padding-block: .5rem;
  font-size: .9375rem;
  font-weight: 400;
  color: var(--gray-darker);
  text-transform: none;
}

.off-canvas:not(.off-canvas-center) .nav-vertical > li > .header__contact {
  padding: 0;
  margin: 0;
  text-transform: none;

  .header__contact-phone, .header__contact-text {
    font-size: 1rem;
  }
}

.header__contact-icon {
  grid-area: icon;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  font-size: 2rem;
  color: #fff;
  padding: .5rem;
  border-radius: 50%;
  background: linear-gradient(to right, var(--primary-medium), var(--secondary-medium));
}

.header__contact-text {
  grid-area: text;
  font-weight: 400;
}

.header__contact-phone {
  grid-area: phone;
  color: var(--primary-medium);
}
.header__contact-text, .header__contact-phone {
  line-height: 1;
  font-size: 1.25rem;
}
@container header ( width < 850px ) {
  .header-main .mobile-nav li.custom.html {
    display: block;
  }
  .header-main .mobile-nav li.custom.html .gtranslate_wrapper {
    display: flex;
  }
}

/* 
=========================
=         FOOTER        =
=========================
*/
.footer {
  &.footer {
    margin-top: 5rem;
    padding-top: 8rem;
    position: relative;
    container: footer / inline-size;
    background-color: #F7FAFC;
  }

  .subscribe-form {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: min( calc(100% - 1.25rem), 75rem);
    padding: clamp(.9375rem, 2cqi, 3.125rem);
    border-radius: .625rem;
    display: grid;
    align-content: center;
    align-items: center;
    gap: 1.25rem;
    background-color: #fff;
    box-shadow: 0 .25rem .625rem rgba(0, 0, 0, 0.15);
  }

  .subscribe-form__content {
    display: grid;
    grid-template-columns: 4rem 1fr;
    gap: .3125rem 1.25rem;
  }

  .subscribe-form__icon {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  .subscribe-form__title {
    font-size: 1rem;
    line-height: 1;
    margin-bottom: 0;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .subscribe-form__description {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin: 0;
    font-size: .875rem;
  }

  .subscribe-form__form {
    justify-self: center;
  }

  .subscribe-form__form .wpcf7-form {
    display: flex;
    margin-bottom: 0;
  }

  .subscribe-form__form .wpcf7-form-control {
    --_border-radius: .3125rem;
    margin: 0;
    min-height: auto;
    height: auto;
    line-height: 1.5;
    font-size: 1rem;
    padding-block: .875rem;

    &:is([type=tel]) {
      border-radius: var(--_border-radius) 0 0 var(--_border-radius);
      background-color: var(--gray-lightest);
    }

    &:is([type=submit]) {
      border-radius: 0 var(--_border-radius) var(--_border-radius) 0;
    }
  }

  .subscribe-form__form :is(.wpcf7-spinner, .wpcf7-response-output) {
    display: none;
  }

  .subscribe-form__form .wpcf7-not-valid-tip {
    position: absolute;
    margin-top: .25rem;
  }

  .footer__main {
    padding-block: 0 1.5rem;
  }

  .footer__main .section__inner {
    display: grid;
  }

  .footer__logo {
    grid-column: 1 / -1;
    margin-bottom: 2.5rem;
  }

  .footer__about {
    margin-bottom: 1.25rem;
  }

  .footer__menu-list {
    margin-bottom: 0;
    list-style: none;
  }

  .footer__menu-item {
    margin-bottom: 0;
  }

  .footer__cert {
    padding-top: 1.25rem;
    display: flex;
    gap: .625rem;
  }

  .footer__bottom {
    padding-block: 1rem;
    border-top: .0625rem solid var(--gray-light);
    font-size: .875rem;
  }

  .footer__bottom .footer__bottom-title {
    margin-bottom: 1.25rem;
  }

  .footer__bottom-logos {
    display: flex;
    gap: .5rem;
    margin-bottom: 1.25rem;
  }

  .footer__bottom-logo {
    width: 3.125rem;
    aspect-ratio: 1;
  }

  .footer__bottom p {
    margin-bottom: 0;
  }

  .gpw-socials {
    padding-block: 1.25rem 0; 
    margin-bottom: 0;
    list-style: none;
    display: flex;
    gap: .625rem;

    .gpw-socials__item {
      margin-bottom: 0;

      img {
        display: block;
        width: 2.5rem;
        aspect-ratio: 1;
      } 
    }
  }

  @container footer ( width <= 850px ) {
    .footer__menu {
      display: grid;
      grid-template-rows: min-content 0fr;
      transition: grid-template-rows 500ms;

      &:has( + .footer__menu ) {
        margin-bottom: .9375rem;
        padding-bottom: .9375rem;
        border-bottom: .0625rem solid var(--gray-light);
      }

      &.footer__menu--expanded {
        grid-template-rows: min-content 1fr;

        .footer__title:after {
          transform: rotate(180deg);
        }
      }
    }

    .footer__menu .footer__title {
      display: inline-flex;
      align-items: center;
      margin-bottom: 0;

      &:after {
        content: '\e316';
        display: block;
        font-family: 'Material Symbols Outlined';
        font-size: 1.25rem;
        margin-left: auto;

        transition: transform 500ms;
      }
    }

    .footer__menu-list {
      overflow: hidden;
    }
  }

  @container footer (width > 850px) {
    .footer__main .section__inner {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 1.25rem;
    }

    .subscribe-form {
      grid-template-columns: 1fr calc( 100% * 5 / 12 );
    }

    .footer__bottom p {
      text-align: center;
    }

    .footer__bottom-logos {
      justify-content: center;
    }
  }

  @container footer ( width < 1200px ) {
    .section__inner {
      padding-inline: .625rem;
    }
  }
}