:root {
  --screen-lg: 1230px;
  --screen-md: 850px;
  --screen-sm: 550px;
  --screen-xs: 390px;
}

html.no-scroll {
  overflow: hidden;
}

html.no-scroll:before {
  content: '';
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.5);
}

#content {
  container: content / inline-size;
}

.section__inner {
  width: min(var(--screen-lg), 100%);
  margin-inline: auto;
}

.section__inner--full {
  width: 100%;
}

@container content (width < 1230px) {
  .section__inner:not(.section__inner--full) {
    padding-inline: .625em;
  }
}

/* Change woocommerce style */
.swiper-slide:has(.product) {
  height: auto;
  padding-block: 0 .625rem;
}
.swiper-slide .product {
  box-shadow: 0 .25rem .625rem rgb(0 0 0 / 0.15);
  border-radius: .625rem;
  overflow: hidden;

  .box-text {
    padding-inline: .625rem;
  }
}
.has-equal-box-heights .product .box-image {
  padding: 0;
}
.product {
  --_space-between-els: .5rem;
  height: 100%;
  
  .material-symbols-outlined {
    font-size: 1.25rem;
  }

  .box-image {
    aspect-ratio: 28/20;

    & .image-fade_in_back, & > div > a, & img {
      width: 100%;
      height: 100%;
    }
  }

  .box-text {
    font-size: .75rem;
  }

  .product-title {
    font-size: 1rem;
    line-height: 1.5;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    height: calc(1rem * 1.5 * 2);
  }

  .hotel-info {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: var(--_space-between-els);
  }

  .hotel-info__accommodation-type, .hotel-info__star-rating {
    display: inline-flex;
    align-items: center;
    line-height: 1;
  }

  .hotel-info__accommodation-type {
    gap: .25rem;
    padding: .25rem;
    background-color: var(--secondary-light);
    color: var(--secondary-darker);
    border-radius: .25rem;
  }

  .hotel-info__star-rating .material-symbols-outlined {
    color: goldenrod;
  }

  .product-category {
    display: flex;
    align-items: center;
    gap: .25rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--gray-darkest);
    margin-bottom: var(--_space-between-els);
  }

  .product-tags {
    margin: 0 0 var(--_space-between-els);
    list-style: none;
    display: flex;
    gap: .3125rem;
    font-size: .875rem;

    li {
      line-height: 1;
      padding: .25rem;
      margin: 0;
      background-color: var(--gray-lightest);
    }
  }

  .price {
    font-size: 1rem;
  }
}

.hotel {
  --_border-radius: .625rem;
  --_content-padding: .625rem;

  background-color: #fff;
  border-radius: var(--_border-radius);
  overflow: hidden;
  box-shadow: 0 .25rem .625rem rgb(0 0 0 / 0.15);

  &.hotel--horizontal {
    display: grid;
    grid-template-columns: 15rem 1fr 11.25rem;
    gap: 1rem;
    
    &:not(:last-child) {
      margin-bottom: clamp(.9375rem, 2cqi, 1.25rem);
    }
  }

  .hotel__thumbnail {
    display: block;
    width: 100%;
    aspect-ratio: 300/226;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .hotel__title {
    font-size: 1rem;
    margin-bottom: 0;
  }
  .hotel__category {
    display: flex;
    align-items: center;
    gap: .25rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--gray-darkest);
  }
  .hotel__info {
    display: flex;
    gap: .5rem;
    font-size: .75rem;

    .material-symbols-outlined {
      font-size: 1.25rem;
    }
  }
  .hotel__accommodation-type, .hotel__star-rating {
    display: inline-flex;
    align-items: center;
    line-height: 1;
  }
  .hotel__accommodation-type {
    gap: .25rem;
    padding: .25rem;
    background-color: var(--secondary-light);
    color: var(--secondary-darker);
    border-radius: .25rem;
  }
  .hotel__star-rating .material-symbols-outlined {
    color: goldenrod;
  }
  .hotel__content {
    padding-block: var(--_content-padding);
    display: grid;
    align-content: start;
    gap: .5rem;
  }
  .hotel__tags {
    margin: 0;
    list-style: none;
    display: flex;
    gap: .3125rem;
  }
  .hotel__tag {
    margin: 0;
    font-size: .875rem;
    line-height: 1;
    padding: .25rem .3125rem;
    background-color: var(--gray-lightest);
    color: var(--gray-dark);
  }
  .hotel__price {
    padding: var(--_content-padding);
    border-left: .0625rem solid var(--gray-lightest);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-weight: 700;
  }

  @media screen and (max-width: 850px) {
    &.hotel--horizontal {
      grid-template-columns: 1fr;
    }
    .hotel__content {
      padding-inline: var(--_content-padding);
    }
    .hotel__price {
      align-items: flex-end;
      border-top: .0625rem dashed var(--gray-lightest);
      border-left: none;
    }
  }
}

/* Carousel default */
.carousel-btn {
  --btn-translate-x: 50%;
  width: 2.5em;
  aspect-ratio: 1/1;
  display: grid;
  place-items: center;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid var(--gray-lightest);
  position: absolute;
  top: 50%;
  transform: translate(var(--btn-translate-x), -50%);
  z-index: 3;
  cursor: pointer;
  transition: background-color 300ms;
}

.carousel-btn__prev {
  --btn-translate-x: -50%;
  left: 0;
}

.carousel-btn__next {
  right: 0;
}

.carousel-btn:hover {
  background-color: var(--gray-lightest);
}

.carousel-btn.swiper-button-disabled {
  display: none;
}

/* Tabs */
.tabs__nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1.875rem;
  border-bottom: .0625rem solid var(--secondary-dark);
}

.tabs__nav-item {
  cursor: pointer;
  font-weight: 700;
  margin-bottom: 0;
  padding-block: 0 .625rem;

  transition: color 300ms, border-color 300ms;

  &[aria-selected="true"] {
    color: var(--primary-medium);
    border-bottom: .1875rem solid var(--secondary-dark);
  }
}

.tabs__content {
  display: grid;
  grid-template-columns: 'tabs-content-stack';
}

.tabs__panel {
  background-color: #fff;
  grid-area: tabs-content-stack;

  &[aria-hidden="true"] {
    z-index: -1;
  }
}
/* Breadcrumbs */
.gpw-breadcrumbs {
  margin-block: 1.875rem;
  p {
    margin-bottom: 0;
  }
  .last {
    color: var(--primary-medium);
  }
}