.video-section {
  padding-block: 3em;
}

.videos {
  display: grid;
  grid-template-columns: 60% 1fr;
}

.videos__title {
  grid-column: 1 / span 2;
}

.videos__preview, .videos__list {
  background-color: var(--gray-lightest);
  height: 500px;
}

.videos__preview .video {
  height: 100%;
  position: relative;
}

.videos__preview .video .material-symbols-outlined {
  position: absolute;
  z-index: 3;
  font-size: 4em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  cursor: pointer;
}

.videos__preview .video:after {
  position: absolute;
  display: block;
  content: '';
  inset: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, .4);
}

.videos__preview .video.playing:after,
.videos__preview .video.playing .material-symbols-outlined {
  display: none;
}

.videos__preview > .video > .video__autoplay-counter {
  position: absolute;
  z-index: 3;
  bottom: .5em;
  left: 1em;
  color: #fff;
}

.videos__preview > .video > .video__autoplay-counter > a {
  color: var(--tertiary-medium);
  text-decoration: underline;
  transition: color 300ms;

  &:hover {
    color: var(--gray-lightest);
  }
}

.videos__preview > .video.playing > .video__autoplay-counter {
  display: none;
}

.videos__preview > .video > video {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  height: 100%;
}

.videos__list {
  padding: .625em .625em 0;
  max-height: 100%;
  overflow-y: scroll;
}

/* Style videos__list scrollbar */
.videos__list::-webkit-scrollbar {
  width: 5px;
  background-color: var(--gray-medium);
}

.videos__list::-webkit-scrollbar-thumb {
  background-color: var(--gray-darkest);
}

.videos__list .video {
  display: flex;
  align-items: center;
  gap: .625em;
  margin-bottom: .625em;

  & > .video__thumbnail {
    display: block;
    flex: 0 0 30%;
  }
}

.video__content {
  display: flex;
  flex-direction: column;
  gap: .3125em;
}

.video__category {
  font-size: .8em;
  text-transform: uppercase;
  color: var(--gray-medium);
}

@container content (width < 850px) {
  .videos {
    grid-template-columns: 1fr;
  }

  .videos__title {
    grid-column: 1;
  }

  .videos__list {
    height: auto;
    display: grid;
    gap: .625em;
    grid-template-columns: repeat(4, 1fr);
  }

  .videos__list .video {
    display: grid;

    & > .video__thumbnail {
      width: 100%;
      aspect-ratio: 4/3;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .video__title {
    font-size: .9em;
  }
}

@container content (width < 550px) {
  .videos {
    display: none;
  }
}